.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @apply bg-neutral-100 rounded-md p-1 px-2;
}

.input[disabled] {
  @apply bg-neutral-300 rounded-md p-1 px-2;
}

.button {
  @apply px-2 py-1 rounded-md transition-all duration-200;
}
