@import './button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-700;
}

.hero {
  width: 100%;
  color: #333;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
}

.input {
  @apply bg-gray-100 rounded-md p-1 px-2;
}

.input[disabled] {
  @apply bg-gray-300 rounded-md p-1 px-2;
}

.button {
  @apply px-2 py-1 rounded-md transition-all duration-200;
}

.button:hover {
  @apply shadow-md;
}

.button[disabled] {
  @apply bg-gray-400;
}

.button[disabled]:hover {
  @apply bg-gray-400
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
  outline: none;
}

/* Optional: Customize .focus-visible */
.focus-visible {
  @apply outline-none shadow-outline !important;
}