@import './button.css';
@import 'placeholder-loading/dist/css/placeholder-loading.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-700;
}

.hero {
  width: 100%;
  color: #333;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
}

.input {
  @apply bg-gray-100 rounded-md p-1 px-2;
}

.input[disabled] {
  @apply bg-gray-300 rounded-md p-1 px-2;
}

.button {
  @apply px-2 py-1 rounded-md transition-all duration-200;
}

.button:hover {
  @apply shadow-md;
}

.button[disabled] {
  @apply bg-gray-400;
}

.button[disabled]:hover {
  @apply bg-gray-400
}

*:focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  @apply outline-none shadow-outline !important;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}


.transition-next-enter {
  opacity: 0.01;
  transform: translateX(200px);
}

.transition-next-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateX(0px);
}

.transition-next-exit {
  opacity: 1;
  transform: translateX(0px);
}

.transition-next-exit-active {
  opacity: 0.01;
  transform: translateX(-200px);
  transition: all 200ms;
}

.transition-prev-enter {
  opacity: 0.01;
  transform: translateX(-200px);
}

.transition-prev-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateX(0px);
}

.transition-prev-exit {
  opacity: 1;
  transform: translateX(0px);
}

.transition-prev-exit-active {
  opacity: 0.01;
  transform: translateX(200px);
  transition: all 200ms;
}


.transition-vertical-next-enter {
  opacity: 0.01;
  transform: translateY(80px);
}

.transition-vertical-next-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateY(0px);
}

.transition-vertical-next-exit {
  opacity: 1;
  transform: translateY(0px);
}

.transition-vertical-next-exit-active {
  opacity: 0.01;
  transform: translateY(-80px);
  transition: all 200ms;
}

.transition-vertical-prev-enter {
  opacity: 0.01;
  transform: translateY(-80px);
}

.transition-vertical-prev-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateY(0px);
}

.transition-vertical-prev-exit {
  opacity: 1;
  transform: translateY(0px);
}

.transition-vertical-prev-exit-active {
  opacity: 0.01;
  transform: translateY(80px);
  transition: all 200ms;
}