
.transition-next-enter {
  opacity: 0.01;
  transform: translateX(200px);
}

.transition-next-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateX(0px);
}

.transition-next-exit {
  opacity: 1;
  transform: translateX(0px);
}

.transition-next-exit-active {
  opacity: 0.01;
  transform: translateX(-200px);
  transition: all 200ms;
}

.transition-prev-enter {
  opacity: 0.01;
  transform: translateX(-200px);
}

.transition-prev-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateX(0px);
}

.transition-prev-exit {
  opacity: 1;
  transform: translateX(0px);
}

.transition-prev-exit-active {
  opacity: 0.01;
  transform: translateX(200px);
  transition: all 200ms;
}


.transition-vertical-next-enter {
  opacity: 0.01;
  transform: translateY(80px);
}

.transition-vertical-next-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateY(0px);
}

.transition-vertical-next-exit {
  opacity: 1;
  transform: translateY(0px);
}

.transition-vertical-next-exit-active {
  opacity: 0.01;
  transform: translateY(-80px);
  transition: all 200ms;
}

.transition-vertical-prev-enter {
  opacity: 0.01;
  transform: translateY(-80px);
}

.transition-vertical-prev-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateY(0px);
}

.transition-vertical-prev-exit {
  opacity: 1;
  transform: translateY(0px);
}

.transition-vertical-prev-exit-active {
  opacity: 0.01;
  transform: translateY(80px);
  transition: all 200ms;
}

.transition-fade-enter {
  opacity: 0.01;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0.01;
  transition: opacity 100ms ease-out;
}

.transition-route-change-enter {
  opacity: 0.01;
  transform: translateY(80px);
}

.transition-route-change-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateY(0px);
}

.transition-route-change-exit {
  opacity: 1;
  transform: translateY(0px);
}

.transition-route-change-exit-active {
  opacity: 0.01;
  transform: translateY(80px);
  transition: all 200ms;
}

.transition-gateway-enter {
  opacity: 0.01;
  transform: translateY(80px);
}

.transition-gateway-enter-active {
  opacity: 1;
  transition: all 200ms;
  transform: translateY(0px);
}

.transition-gateway-exit {
  opacity: 1;
  transform: translateY(0px);
}

.transition-gateway-exit-active {
  opacity: 0.01;
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-fade-enter {
  transform: scale(.85);
  opacity: 0;
}

.transition-fade-enter-active {
  transform: scale(1);
  opacity: 1;

  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.transition-fade-exit {
  transform: scale(1);
  opacity: 1;
}

.transition-fade-exit-active {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transform: scale(.85);
  opacity: 0;
}